:root {
    --size-title-spacing: 2rem;

    --font-color-link: rgb(255 212 0);
    --font-color-link-hover: rgb(174 251 255);

    --size-content-max-width: 1200px;

    --size-footnote-spacing-top: 5rem;
    --size-footnote-spacing-bot: 2.5rem;

    --size-content-spacing-bot: 5rem;
}

[variable-theme="black"] {
}

[variable-theme="white"] {
    --font-color-link: rgb(189 156 0);
    --font-color-link-hover: rgb(0 141 149);
}

.main_block {
    margin-top: var(--size-header-height);
    margin-left: auto;
    margin-right: auto;
    margin-bottom: var(--size-content-spacing-bot);
    width: 100%;
    max-width: var(--size-content-max-width);
}

.main_block h3, .main_block h4, .main_block h5 {
    padding-top: var(--size-title-spacing);
    padding-bottom: var(--size-generic-underline-spacing);
    border-bottom-width: var(--size-generic-underline);
    border-bottom-style: solid;
    border-bottom-color: var(--color-generic-underline);
}

.main_block a {
    color: var(--font-color-link);
}

.main_block a:hover {
    color: var(--font-color-link-hover);
    transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footnote {
    margin-top: var(--size-footnote-spacing-top);
    margin-bottom: var(--size-footnote-spacing-bot);
}
