:root {
    --size-max600-space-left: calc(0px);
    --size-max600-space-right: calc(0px);
    --size-max600-width: calc(100%);
    --size-max600-min-width: 600px;

    --size-min601-space-left: calc(12.5% - 75px);
    --size-min601-space-right: calc(12.5% - 75px);
    --size-min601-width: calc(75% + 150px);
    --size-min601-min-width: 601px;

    --color-body-font: rgb(255 255 255);
    --color-body-background: rgb(54 57 63);
    --color-link-font: rgb(255 255 255);
    --color-code-background: rgb(166 193 220 / 0.10);
    --color-code-link-font: rgb(227 255 197);
    --color-code-link-hover-background: rgb(195 181 255 / 0.20);
    --color-table-border: rgb(200 225 255 / 0.30);
    --color-table-head-background: rgb(0 128 255 / 0.05);
    --color-table-line-even-background: rgb(255 245 178 / 0.05);
    --color-table-line-even-hover-background: rgb(255 245 178 / 0.20);
    --color-table-line-odd-background: rgb(172 179 172 / 0.05);
    --color-table-line-odd-hover-background: rgb(172 179 172 / 0.20);
    --color-code-block-background: rgb(246 248 250 / 0.1);
    --color-scrollbar-track: rgb(87 96 96 / 0.50);
    --color-scrollbar-thumb: rgb(26 29 29 / 0.75);
    --color-underline: rgb(200 225 255 / 0.30);
    --color-anchor: rgb(255 255 255);
    --color-listing-comment-font: rgb(146 137 152);
    --color-listing-preview-background: rgb(90 90 90);
    --color-header-background: rgb(127 127 127 / 0.1);
    --color-header-path-font: rgb(255 255 255 / 0.2);
    --color-search-entry-border: rgb(127 127 127 / 0.20);
    --color-search-entry-border-focus: rgb(189 150 222 / 0.30);
    --color-search-entry-input-font: rgb(255 255 255);
    --color-search-entry-input-background: rgb(0 0 0 / 0.50);
    --color-search-entry-submit-font: rgb(255 255 255);
    --color-content-table-svg: rgb(255 255 255);
    --color-content-table-search-background: rgb(19 21 21 / 0.50);
    --color-content-table-search-input: rgb(255 255 255);
    --color-content-table-search-submit: rgb(255 0 31 / 1.00);
    --color-block-quote-background: rgb(152 167 80 / 0.10);
    --color-block-quote-border: rgb(152 167 80 / 0.50);
    --color-block-quote-font: rgb(220 221 222);
        }

[variable-theme="black"] {
    --color-body-background: rgb(0 0 0);
    --color-code-background: rgb(184 203 222 / 0.20);
    --color-search-entry-border-focus: rgb(213 192 230 / 0.6);
    --color-content-table-search-background: rgb(91 101 101 / 0.50);
    --color-search-entry-border: rgb(127 127 127 / 0.4);
    --color-table-head-background: rgb(0 128 255 / 0.15);
    --color-table-line-even-background: rgb(255 245 178 / 0.15);
    --color-table-line-even-hover-background: rgb(255 245 178 / 0.30);
    --color-table-line-odd-background: rgb(172 179 172 / 0.15);
    --color-table-line-odd-hover-background: rgb(172 179 172 / 0.30);
    --color-scrollbar-thumb: rgb(91 103 103 / 0.75);
    --color-block-quote-background: rgb(80 152 167 / 0.10);
    --color-block-quote-border: rgb(80 152 167 / 0.50);
    --color-header-background: rgb(127 127 127 / 0.2);
        }

body {
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-body-background);
    color: var(--color-body-font);
        }

p {
    margin-top: 1em;
    margin-bottom: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
        }

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -0.8em;
    margin-right: 0px;
    padding-left: 0.8em;
    font-size : 2em;
        }

h2 {
    font-size : 1.70em;
        }

h3 {
    font-size: 1.61em;
        }

h4 {
    font-size: 1.37em;
        }

h5 {
    font-size: 1.30em
        }

h6 {
    font-size: 1.11em;
        }

h7 {
    font-size: 1.05em;
        }

h2, h3, h4, h5, h6, h7 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    margin-left: -0.8em;
    margin-right: 0px;
    padding-left: 0.8em;
        }

h2, h4, h6 {
    font-weight: lighter;
        }

h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor, h7 .anchor, h7 .anchor, .with_anchor .anchor {
    cursor: pointer;
    position: sticky;
        }

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
h7:hover .anchor, .with_anchor:hover .anchor {
    visibility: visible;
        }

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
h7:hover .anchor, .with_anchor:hover .anchor {
    visibility: visible;
        }

svg {
    z-index: -1;
        }

h1 .anchor svg, h2 .anchor svg, h3 .anchor svg, h4 .anchor svg, h5 .anchor svg, h6 .anchor svg,
h7 .anchor svg, .with_anchor .anchor svg{
    margin-top: 0.07em;
    cursor: pointer;
        }

ul {
    margin: 0px;
    padding-left: 28px;
        }

li {
    margin: 6px;
        }

a {
    text-decoration: none;
    color : var(--color-link-font);
        }

a svg {
    padding-top: 0.2em;
    padding-bottom: 0.15em;
    width: 0.65em;
    height: 0.65em;
        }

a code {
    color: var(--color-code-link-font);
    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
        }

a code:hover {
    background-color: var(--color-code-link-hover-background);
        }

code {
    padding: .2em .3em;
    margin: 0;
    font-size: 85%;
    background-color: var(--color-code-background);
    border-radius: 6px;
        }

table {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 0px;
    margin-right: 0px;
    border-spacing: 0;
    border-collapse: collapse;
    width: max-content;
    max-width: 100%;
        }

td, th {
    padding: 6px 13px;
    border-color: var(--color-underline);
    border-width: 1px;
    border-style: solid;
        }

thead tr {
    background-color: var(--color-table-head-background);
        }

tbody tr:nth-child(even) {
    background-color: var(--color-table-line-even-background);
        }

tbody tr:nth-child(even):hover {
    background-color: var(--color-table-line-even-hover-background);
        }

tbody tr:nth-child(odd) {
    background-color: var(--color-table-line-odd-background);
        }

tbody tr:nth-child(odd):hover {
    background-color: var(--color-table-line-odd-hover-background);
        }

form {
    padding: 0;
    margin: 0;
        }

i {
    font-style: normal;
        }

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--color-table-line-odd-hover-background);
    border-radius: 6px;
        }

blockquote {
    margin: 0;
    padding: 0;
        }

::-webkit-scrollbar {
    width: calc(0.3em + 4px);
    height: calc(0.3em + 4px);
        }

::-webkit-scrollbar-track{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--color-scrollbar-track);
        }

::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: var(--color-scrollbar-thumb);
        }

::-webkit-scrollbar-corner{
    background-color: var(--color-scrollbar-track);
        }

.sub_section {
    padding-left: 24px;
        }

.unit_section, .sub_unit {
    padding-left: 12px;
        }

.sub_section p, .unit_section p {
    margin-top: 0.4em;
        }

.main_block {
    padding-top: 0px;
    padding-bottom : 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: 16px;
    margin-top: 0px;
    margin-bottom: 0px;
        }

@media screen and (max-width: 600px) {
    .main_block {
        margin-left: var(--size-max600-space-left);
        margin-right: var(--size-max600-space-right);
        width: var(--size-max600-width);
        min-width: var(--size-max600-min-width);
            }
        }

@media screen and (min-width: 601px) {
    .main_block {
        margin-left: var(--size-min601-space-left);
        margin-right: var(--size-min601-space-right);
        width: var(--size-min601-width);
        min-width: var(--size-min601-min-width);
            }
        }

.search_result_block {
    padding-top: 40px;
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 32px;
        }

.content_block {
    padding-top: 40px;
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
        }

.underline{
    padding-bottom: 0.3em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-underline);
        }

.anchor {
    float: left;
    padding-right: 0.15em;
    margin-left: -0.8em;
    line-height: 1;
    fill: var(--color-anchor);
    vertical-align: middle;
    visibility: hidden;
        }

.with_anchor {
    margin-left: -0.8em;
    margin-right: 0px;
    padding-left: 0.8em;
        }

.unit_listing .listing_linker:hover .listing_name {
    text-decoration: underline;
        }

.unit_listing .listing_linker .listing_comment {
    color: var(--color-listing-comment-font);
        }

.unit_listing .listing_linker .listing_preview {
    display: none;
    position: absolute;
    width: max-content;
    min-width: 240px;
    max-width: calc(20vw + 400px);
    background-color: var(--color-listing-preview-background);
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 6px;
    z-index: 1;
    font-size: 14px;
    margin-left: 40px;
    margin-top: 5px;
        }

.unit_listing .listing_linker {
     position: relative;
        }

.unit_listing .listing_linker:hover .listing_preview {
    display: block;
        }

.header {
    position: fixed;
    background-color: var(--color-header-background);
    height: 24px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
        }

@media screen and (max-width: 600px) {
    .header {
        padding-left: var(--size-max600-space-left);
        padding-right: var(--size-max600-space-right);
        width: var(--size-max600-width);
        min-width: var(--size-max600-min-width);
            }
        }

@media screen and (min-width: 601px) {
    .header {
        padding-left: var(--size-min601-space-left);
        padding-right: var(--size-min601-space-right);
        width: var(--size-min601-width);
        min-width: var(--size-min601-min-width);
            }
        }

.header_block_left {
    float: left!important;
    width: calc(100% - 400px);
    overflow: hidden;
    max-width: fit-content;
        }

.header_block_left .overflow_left_cut {
    font-size: 20px;
    line-height: 24px;
    color: var(--color-header-path-font);
    float: right;
    width: max-content;
        }

.header_block_left .overflow_left_cut a {
    color: var(--color-header-path-font);
        }

.header_block_left .overflow_left_cut a:hover {
    text-decoration: underline;
        }

.header_block_right {
    float: right !important;
        }

.header_search {
    max-height: 24px;
    flex: 1;
    display: flex;
    flex-direction: row;
    float: left;
        }

.header_search .entry {
    background-color: var(--color-search-entry-border);
    height: 20px;
    padding: 2px;
        }

.header_search .entry input {
    border: none;
    background-color: var(--color-search-entry-input-background);
    color: var(--color-search-entry-input-font);
    line-height: 20px;
    height: 20px;
    width: 240px;
    padding-top: 0px;
    padding-bottom: 0px;
    padding-left: 3px;
    padding-right: 2px;
        }

.header_search .submit input {
    height: 24px;
    line-height: 20px;
    font-size: 14px;
    border: none;
    background-color: var(--color-search-entry-border);
    color: var(--color-search-entry-submit-font);
    width: 60px;
    outline-offset: -2px;
        }

.header_search .entry input:focus, .header_search .submit input:focus {
    outline-color: var(--color-search-entry-border-focus);
    outline-style: solid;
    outline-width: 2px;
        }

.header_theme_picker {
    height: 24px;
    max-height: 24px;
    float: right;
    margin-left: 10px;
    line-height: 24px;
    width: 80px;
    text-align: center;
        }

.header_theme_picker summary {
    cursor: pointer;
        }

.header_theme_picker summary:focus {
    outline-style: none;
        }

.header_theme_picker summary::-webkit-details-marker {
    display: none;
        }

.header_theme_list_box {
    width: 80px;
    display: block;
    text-align: inherit;
    background-color: var(--color-body-background);
    border-bottom-style: solid;
    border-left-style: solid;
    border-right-style: solid;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    border-bottom-color: var(--color-underline);
    border-right-color: var(--color-underline);
    border-left-color: var(--color-underline);
    border-bottom-width: 1px;
    border-right-width: 1px;
    border-left-width: 1px;
        }

.header_theme_list_spacer {
    height: 8px;
    width: inherit;
        }

.header_theme_list {
    background-color: var(--color-header-background);
        }

.header_theme_list_element {
    width: inherit;
    display: inherit;
    text-align: inherit;
    cursor: pointer;
    padding-top: 2px;
    padding-bottom: 2px;
        }

.header_theme_list_element:hover {
    border-style: solid;
    border-color: var(--color-underline);
    border-width: 1px;
    box-sizing: border-box;
    border-radius: 4px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: calc(inherit - 2px);
        }

.content_table {}

.content_table .content_listing ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 1em;
        }

.content_table .content_listing svg {
    padding-top: 0.175em;
    width: 1em;
    height: 0.65em;
    margin-left: -1em;
    fill: var(--color-content-table-svg);
        }

.content_table .content_listing a:hover {
    text-decoration: underline;
        }

.content_table .content_listing {}

.content_table .content_search {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 8px;
    padding-right: 4px;
    background-color: var(--color-content-table-search-background);
    border-radius: 8px;
    height: 24px;
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 5px;
        }

.content_table .content_search input {
    height: 24px;
    padding-top: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-right: 0px;
    border: none;
    outline: none;
    width: calc(100% - 24px);
    background-color: rgb(0 0 0 / 0.0);
    color: var(--color-content-table-search-input);
        }

.content_table .content_search button {
    height: 24px;
    width: 24px;
    background-color: rgb(0 0 0 / 0.0);
    padding-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: 0px;
    border-width: 0px;
    border-style: none;
    outline: none;
    float: right!important;
    cursor: pointer;
        }

.content_table .content_search button svg {
    fill: var(--color-content-table-search-submit);
    width: 24px;
    height: 24px;
    margin-top: -10px;
    padding: 0;
    position: absolute;
    margin-left: -12px;
        }

.docs {}

.docs blockquote {
    background-color: var(--color-block-quote-background);
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-block-quote-border);
    border-radius: 6px;
    margin-top : 20px;
    margin-bottom: 10px;
    padding-top: 0em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0em;
    color: var(--color-block-quote-font);
        }

.docs blockquote p {
    margin-top: 0.75em;
    margin-bottom: 0.75em;
        }

@media screen and (max-width: 1100px) {
    .content_table {
        margin-left: 28px;
        margin-right: 28px;
        margin-bottom: 6px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--color-underline);
            }

    .content_table .content_listing {
        min-height: 4px;
            }

    .docs {
        margin-left: 28px;
        margin-right: 28px;
            }
        }

@media screen and (min-width: 1101px) {
    .content_table {
        width: 300px;
        position: fixed;
        max-height: calc(100vh - 40px);
        height: calc(100vh - 40px);
            }

    .content_table .content_listing {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: var(--color-underline);
        display: flow-root;
        width: 299px;
        overflow: overlay;
        max-height: calc(100vh - 80px);
        overflow: overlay;
        height: calc(100vh - 80px);
        position: absolute;
            }

    .docs {
        width: calc(100% - 332px);
        float: right;
            }

        }


.c_py_operator {
    color: rgb(255 199 222);
        }

.c_py_magic {
    color: rgb(122 255 244);
        }

.c_py_numeric {
    color: rgb(64 0 170);
        }

.c_py_string {
    color: rgb(174 230 151);
        }

.c_py_keyword {
    color: rgb(255 109 109);
        }

.c_py_builtin {
    color: rgb(0 170 255);
        }

.c_py_builtin_exception {
    color: rgb(176 88 255);
        }

.c_py_punctuation {
    color: rgb(157 157 255);
        }

.c_py_operator_attribute {
    color: rgb(255 255 194);
        }

.c_py_identifier_attribute {
    color: rgb(255 255 194);
        }
