:root {
    --color-body-font: rgb(255 255 255);
    --color-body-background: rgb(34 45 45);

    --color-intro-underline: rgb(255 255 255);

    --color-content-background: var(--color-body-background);
    --color-content-item-icon: rgb(108 230 101);
    --color-content-item-icon-svg: rgb(110 75 230);
    --color-content-card-icon: rgb(108 230 101);

    --color-scrollbar-track: rgb(87 96 96 / 0.50);
    --color-scrollbar-thumb: rgb(26 29 29 / 0.75);
}

@font-face {
  font-family: "kokoro";
  src: url('/static/kokoro_font_0_0_1.otf');
  font-weight: normal;
  font-style: normal;
}

body {
    min-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-body-background);
    color: var(--color-body-font);
}


.intro {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    margin-top: 0px;
    z-index: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.intro_box {
    text-align: center;
    position: relative;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
    line-height: 1.5;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
}

.intro_box .title {
    font-size: 12rem;
    line-height: 12rem;
    text-transform: uppercase!important;
    font-family: kokoro;
}

.intro_box .underline{
    width: 90%;
    border-bottom-width: 0.3rem;
    border-bottom-style: solid;
    margin-bottom: 1rem;
    border-bottom-color: rgb(255 255 255);
    margin-left: auto;
    margin-right: auto;
}

.intro_box .description{
    font-size: 1.2rem;
    text-transform: uppercase!important;
    font-family: inherit;
    font-style: italic;
}

.intro_background {
    opacity: 0.3;
    background-image: url('https://cdn.discordapp.com/attachments/568837922288173058/936625563047723058/ashy-koishi-kokoro-0000.png');
    background-repeat: no-repeat;
    background-attachment: local;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0 0 200px 20px var(--color-body-background);
}

h1, h2, h3, h4, h5, h6, h7, h8, p{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}

.content {
    line-height: 1.5;
    font-family: 'Jost', sans-serif;
    word-break: break-word;
    word-wrap: break-word;
}


.feature_list {
    width: 100%;
    background-color: var(--color-content-background);
}

.feature_list .content {
    padding-top: 6rem;
    padding-bottom: 6rem;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
    box-sizing: border-box;
}

@media screen and (max-width: 960px) {
    .feature_list .content {
        display: block;
            }
        }

@media screen and (min-width: 961px) {
    .feature_list .content {
        display: flex;
        }
    }


.additional_features {
    width: 100%;
    background-color: var(--color-content-background);
}

.additional_features .content {
    padding-top: 4rem;
    padding-bottom: 4rem;
}

.content .column_0001, .content .column_0002 {
    position: relative;
    width: 100%;
}

@media screen and (max-width: 756px) {
    .column_0001, .column_0002 {
        max-width: calc(100% - 32px);
        padding-left: 16px;
        padding-right: 16px;
    }
}

@media screen and (min-width: 757px) and (max-width: 960px) {
    .column_0001, .column_0002 {
        max-width: 720px;
        padding-left: calc(50% - 360px);
        padding-right: calc(50% - 360px);
    }
}

@media screen and (min-width: 961px) {
    .column_0001, .column_0002 {
        max-width: calc(50% - 32px);
        padding-left: 16px;
        padding-right: 16px;
            }
        }


.feature_list .content .card {
    overflow: hidden;
    -webkit-flex: 1;
    box-sizing: border-box;
    word-wrap: break-word;
    text-align: left;
}

.feature_list .content .card h4 {
    font-weight: 800;
    font-size: 3rem;
    margin-bottom: 2rem !important;
    word-break: break-word;
    word-wrap: break-word;
}

@media screen and (min-width: 961px) {
    .feature_list .content .card h4 {
        text-align: left;
    }
}

@media screen and (max-width: 960px) {
    .feature_list .content .card h4 {
        text-align: center;
    }
}

.feature_list  .content .card p {
    font-size: 1.2rem;
    margin-bottom: 2rem !important;
    word-break: break-word;
    word-wrap: break-word;
    font-weight: 400;
}

.content .item {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}

.content .item .icon {
    background: var(--color-content-item-icon);
    width: 60px;
    min-width: 60px;
    height: 60px;
    border-radius: 50%;
    margin-right: 1rem;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

.content .item .icon svg {
    margin: 10px;
    width: 40px;
    height: 40px;
    fill: var(--color-content-item-icon-svg);
}

.content .item .text {
    box-sizing: border-box;
}

.content .item .text h5 {
    font-size: 1.2rem;
    font-weight: 800;
    margin-top: 0;
    margin-bottom: 0.5rem;
}

.content .item .text p {
    font-size: 1.1rem;
    font-weight: 400;
    margin-top: 0;
    margin-bottom: 0.5rem;
}


::-webkit-scrollbar {
    width: calc(0.3em + 4px);
    height: calc(0.3em + 4px);
}

::-webkit-scrollbar-track {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-corner{
    background-color: var(--color-scrollbar-track);
}

.additional_features .content .row {
    width: 100%;
}

.additional_features .content .row .section_title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.section_title h3 {
    font-size: 3rem;
    line-height: 1.1;
    font-weight: 800;
}

.additional_features .content .card {
    margin-top: 3rem;
    max-width: 500px;
    min-width: 400px;
    width: 33%;
    text-align: center;
}

.additional_features .content .card .icon {
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    fill: var(--color-content-card-icon);
}

.additional_features .content .card .icon svg {
    margin: 0px;
    width: 90px;
    height: 90px;
}

.additional_features .content  .card .text h5 {
    margin-bottom: .75rem;
    font-size: 1.2rem;
    font-weight: 800;
}
