:root {
    --size-max600-space-left: calc(0px);
    --size-max600-space-right: calc(0px);
    --size-max600-width: calc(100%);
    --size-max600-min-width: 600px;

    --size-min601-space-left: calc(12.5% - 75px);
    --size-min601-space-right: calc(12.5% - 75px);
    --size-min601-width: calc(75% + 150px);
    --size-min601-min-width: 601px;

    --docs-size-min-width-border: 28px;
    --content-table-size-min-width: 300px;
    --parameter-table-border-radius: 0.375rem;
    --font-size: 1rem;

    --color-body-font: rgb(255 255 255);
    --color-body-background: rgb(54 57 63);
    --color-link-font: var(--color-body-font);
    --color-function-parameter-font: rgb(213 213 213);
    --color-code-background: rgb(166 193 220 / 0.10);
    --color-code-link-font: rgb(227 255 197);
    --color-code-link-hover-background: rgb(195 181 255 / 0.20);

    --color-scrollbar-track: rgb(87 96 96 / 0.50);
    --color-scrollbar-thumb: rgb(26 29 29 / 0.75);
    --color-underline: rgb(200 225 255 / 0.30);
    --color-anchor: var(--color-body-font);
    --color-listing-comment-font: rgb(146 137 152);
    --color-listing-preview-background: rgb(90 90 90);
    --color-search-entry-border: rgb(127 127 127 / 0.20);
    --color-search-entry-border-focus: rgb(189 150 222 / 0.30);
    --color-search-entry-input-font: var(--color-body-font);
    --color-search-entry-input-background: rgb(0 0 0 / 0.50);
    --color-search-entry-submit-font: var(--color-body-font);
    --color-content-table-svg: var(--color-body-font);
    --color-content-table-search-background: rgb(19 21 21 / 0.50);
    --color-content-table-search-input: var(--color-body-font);
    --color-content-table-search-submit: rgb(255 0 31 / 1.00);
    --color-block-quote-background: rgb(152 167 80 / 0.10);
    --color-block-quote-border: rgb(152 167 80 / 0.50);
    --color-block-quote-font: rgb(220 221 222);
    --size-table-mark-field-width: 6rem;
    --size-table-description-width: 40%;

    --color-python-operator: rgb(255 199 222);
    --color-python-magic: rgb(122 255 244);
    --color-python-numeric: rgb(96 0 255);
    --color-python-string: rgb(174 230 151);
    --color-python-keyword: rgb(255 109 109);
    --color-python-builtin: rgb(0 170 255);
    --color-python-builtin-exception: rgb(176 88 255);
    --color-python-punctuation: rgb(157 157 255);
    --color-python-operator-attribute: rgb(255 255 194);
    --color-python-identifier-attribute: rgb(255 255 194);
    --color-python-identifier-console-prefix: rgb(255 121 25);
    --color-python-format-string-mark: rgb(249 17 17);
    --color-python-format-string-code: rgb(255 152 44);
    --color-python-format-string-postfix: rgb(255 152 44);
    --color-python-comment: rgb(155 185 243);


    --size-content-search-spacing-vertical: 4px;
    --size-content-search-spacing-left: 8px;
    --size-content-search-spacing-right: 4px;
    --size-content-search-border: 8px;
    --size-content-search-height: 24px;
}

[variable-theme="black"] {
    --color-body-background: rgb(0 0 0);
    --color-code-background: rgb(184 203 222 / 0.20);
    --color-search-entry-border-focus: rgb(213 192 230 / 0.6);
    --color-content-table-search-background: rgb(91 101 101 / 0.50);
    --color-search-entry-border: rgb(127 127 127 / 0.4);

    --color-scrollbar-thumb: rgb(91 103 103 / 0.75);
    --color-block-quote-background: rgb(80 152 167 / 0.10);
    --color-block-quote-border: rgb(80 152 167 / 0.50);
}

[variable-theme="white"] {
    --color-body-font: rgb(0 0 0);
    --color-body-background: rgb(255 255 255);
    --color-underline: rgb(0 0 0 / 0.30);
    --color-code-background: rgb(34 61 88 / 0.10);
    --color-code-link-font: rgb(58 112 0);
    --color-function-parameter-font: rgb(42 42 42);
    --color-code-link-hover-background: rgb(195 181 255 / 0.30);
    --color-search-entry-input-background: rgb(0 0 0 / 0.1);
    --color-content-table-search-background: rgb(19 21 21 / 0.10);
    --color-block-quote-font: rgb(49 51 53);
    --color-python-comment: rgb(19 66 160);
    --color-python-string: rgb(66 144 35);
    --color-python-format-string-code: rgb(201 104 0);
    --color-python-format-string-postfix: rgb(201 104 0);
    --color-python-punctuation: rgb(0 0 153);
    --color-python-identifier-console-prefix: rgb(230 96 0);
    --color-listing-preview-background: rgb(209 209 209);
    --color-listing-comment-font: rgb(90 83 95);
    --color-python-operator-attribute: rgb(174 174 0);
    --color-python-identifier-attribute: rgb(174 174 0);
    --color-python-operator: rgb(153 0 64);
    --color-python-magic: rgb(0 128 117);
    --color-python-numeric: rgb(98 0 255);
    --color-python-builtin: rgb(0 136 204);
    --color-python-keyword: rgb(230 0 0);
    --color-block-quote-background: rgb(80 86 167 / 0.10);
    --color-block-quote-border: rgb(80 86 167 / 0.50);
}


body {
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-body-background);
    color: var(--color-body-font);
    font-family:
        system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif, 'Apple Color Emoji',
        'Segoe UI Emoji';
}

p {
    padding-top: 0.75em;
    padding-bottom: 0px;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0.75em;
    margin-left: 0px;
    margin-right: 0px;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: -0.8em;
    margin-right: 0px;
    padding-left: 0.8em;
    font-size : calc(var(--font-size) * 2.00);
}

h2 {
    font-size : calc(var(--font-size) * 1.70);
}

h3 {
    font-size: calc(var(--font-size) * 1.61);
}

h4 {
    font-size: calc(var(--font-size) * 1.37);
}

h5 {
    font-size: calc(var(--font-size) * 1.30);
}

h6 {
    font-size: calc(var(--font-size) * 1.11);
}

h7 {
    font-size: calc(var(--font-size) * 1.05);
}

h2, h3, h4, h5, h6, h7 {
    margin-top: 0.5em;
    margin-bottom: 0.3em;
    margin-left: -0.8em;
    margin-right: 0px;
    padding-left: 0.8em;
}

h2, h4, h6 {
    font-weight: normal;
}

svg {
    z-index: -1;
}

h1 .anchor svg, h2 .anchor svg, h3 .anchor svg, h4 .anchor svg, h5 .anchor svg, h6 .anchor svg,
h7 .anchor svg, .with_anchor .anchor svg{
    margin-top: 0.07em;
    cursor: pointer;
}


ul {
    margin: 0px;
    padding-left: 28px;
}

li {
    margin: 6px;
}

a {
    text-decoration: none;
    color: var(--color-link-font);
}

a svg {
    padding-top: 0.2em;
    padding-bottom: 0.15em;
    width: 0.65em;
    height: 0.65em;
}

a code {
    color: var(--color-code-link-font);
    transition: background-color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

a code:hover {
    background-color: var(--color-code-link-hover-background);
}

code {
    padding: .2em .3em;
    margin: 0;
    font-size: 85%;
    background-color: var(--color-code-background);
    border-radius: 6px;
}

form {
    padding: 0;
    margin: 0;
}

i {
    font-style: normal;
}

pre {
    padding: 16px;
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    background-color: var(--color-code-block-background);
    border-radius: 6px;
}

blockquote {
    margin: 0;
    padding: 0;
    width: max-content;
    max-width: 100%;
    min-width: calc(35% + 200px);
}

::-webkit-scrollbar {
    width: calc(0.3em + 4px);
    height: calc(0.3em + 4px);
}

::-webkit-scrollbar-track{
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
    background-color: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb{
    border-radius: 8px;
    background-color: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-corner{
    background-color: var(--color-scrollbar-track);
}

.sub_section {
    padding-left: 24px;
    margin-bottom: 1rem;
}

.unit_section, .sub_unit {
    padding-left: 12px;
}

.sub_section p:first-child, .unit_section p:first-child {
    padding-top: 0px;
    margin-top: 0.2em;
}

.main_block {
    padding-top: 0px;
    padding-bottom : 0px;
    padding-left: 0px;
    padding-right: 0px;
    font-size: var(--font-size);
    margin-bottom: 0px;
    display: flow-root;
}

@media screen and (max-width: 600px) {
    .main_block {
        margin-left: var(--size-max600-space-left);
        margin-right: var(--size-max600-space-right);
        width: var(--size-max600-width);
        min-width: var(--size-max600-min-width);
    }
}

@media screen and (min-width: 601px) {
    .main_block {
        margin-left: var(--size-min601-space-left);
        margin-right: var(--size-min601-space-right);
        width: var(--size-min601-width);
        min-width: var(--size-min601-min-width);
    }
}

.search_result_block {
    padding-right: 32px;
    padding-bottom: 0px;
    padding-left: 32px;
}

.content_block {
    padding-right: 0px;
    padding-bottom: 0px;
    padding-left: 0px;
}

.underline{
    padding-bottom: 0.3em;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: var(--color-underline);
}

.anchor {
    float: left;
    padding-right: 0.15em;
    margin-left: -0.8em;
    line-height: 1;
    fill: var(--color-anchor);
    vertical-align: middle;
    visibility: hidden;
}

.with_anchor {
    font-size: var(--font-generic-highlight-size);
    font-weight: var(--font-generic-highlight-weight);
    line-height: var(--font-generic-highlight-line-height);
    margin-left: -0.8em;
    margin-right: 0px;
    padding-left: 0.8em;
}

.unit_listing .listing_linker:hover .listing_name {
    text-decoration: underline;
}

.unit_listing .listing_linker .listing_comment {
    color: var(--color-listing-comment-font);
}

.unit_listing .listing_linker .listing_preview {
    display: none;
    position: absolute;
    width: max-content;
    min-width: 240px;
    max-width: calc(20vw + 400px);
    background-color: var(--color-listing-preview-background);
    text-align: left;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 3px;
    padding-right: 4px;
    border-radius: 6px;
    z-index: 1;
    font-size: calc(var(--font-size) * 0.85);
    margin-left: 40px;
    margin-top: 5px;
}

.unit_listing .listing_linker {
     position: relative;
}

.unit_listing .listing_linker:hover .listing_preview {
    display: block;
}

.header {
    position: fixed;
    background-color: var(--color-header-background);
    height: 24px;
    display: block;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media screen and (max-width: 600px) {
    .header {
        padding-left: var(--size-max600-space-left);
        padding-right: var(--size-max600-space-right);
        width: var(--size-max600-width);
        min-width: var(--size-max600-min-width);
    }
}

@media screen and (min-width: 601px) {
    .header {
        padding-left: var(--size-min601-space-left);
        padding-right: var(--size-min601-space-right);
        width: var(--size-min601-width);
        min-width: var(--size-min601-min-width);
    }
}


.content_table {}

.content_table .content_listing ul {
    list-style-type: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 1em;
}

.content_table .content_listing svg {
    padding-top: 0.175em;
    width: 1em;
    height: 0.65em;
    margin-left: -1em;
    fill: var(--color-content-table-svg);
}

.content_table .content_listing a:hover {
    text-decoration: underline;
}

.content_table .content_listing {}

.content_table .content_search {
    padding-top: var(--size-content-search-spacing-vertical);
    padding-left: var(--size-content-search-spacing-left);
    padding-bottom: var(--size-content-search-spacing-vertical);
    padding-right: var(--size-content-search-spacing-right);
    background-color: var(--color-content-table-search-background);
    border-radius: var(--size-content-search-border);
    height: var(--size-content-search-height);
    margin-left: 3px;
    margin-right: 3px;
    margin-bottom: 3px;
    margin-top: 5px;
}

.content_table .content_search input {
    height: var(--size-content-search-height);
    margin-top: calc(0px - var(--size-content-search-spacing-vertical));
    margin-left: calc(0px - var(--size-content-search-spacing-left));
    margin-bottom: calc(0px - var(--size-content-search-spacing-vertical));
    margin-right: calc(0px - var(--size-content-search-height) - var(--size-content-search-spacing-right));
    padding-top: var(--size-content-search-spacing-vertical);
    padding-left: var(--size-content-search-spacing-left);
    padding-bottom: var(--size-content-search-spacing-vertical);
    padding-right: calc(var(--size-content-search-height) + var(--size-content-search-spacing-right));
    border-radius: var(--size-content-search-border);
    border: none;
    outline: none;
    width: calc(100% - var(--size-content-search-height));
    background-color: rgb(0 0 0 / 0.0);
    color: var(--color-content-table-search-input);
}

.content_table .content_search button {
    height: calc(var(--size-content-search-height) + var(--size-content-search-spacing-vertical) * 2);
    width: calc(var(--size-content-search-height) + var(--size-content-search-spacing-right));
    background-color: rgb(0 0 0 / 0.0);
    padding-left: 0px;
    padding-right: 0px;
    border-width: 0px;
    border-style: none;
    outline: none;
    float: right!important;
    cursor: pointer;
    border-bottom-right-radius: var(--size-content-search-border);
    border-top-right-radius: var(--size-content-search-border);
    margin-top: calc(0px - var(--size-content-search-spacing-vertical));
    margin-bottom: calc(0px - var(--size-content-search-spacing-vertical));
    margin-right: calc(0px - var(--size-content-search-spacing-right));
}

.content_table .content_search button svg {
    fill: var(--color-content-table-search-submit);
    width: var(--size-content-search-height);
    height: var(--size-content-search-height);
    margin-top: calc(0px - var(--size-content-search-height) / 2);
    padding: 0;
    position: absolute;
    margin-left: calc(0px - var(--size-content-search-height) / 2);
}

.docs {}

.docs blockquote {
    background-color: var(--color-block-quote-background);
    border-width: 2px;
    border-style: solid;
    border-color: var(--color-block-quote-border);
    border-radius: 6px;
    margin-top : 20px;
    margin-bottom: 10px;
    padding-top: 0em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 0em;
    color: var(--color-block-quote-font);
}

.docs blockquote p,  .docs blockquote p:first-child{
    padding-top: 0.75em;
    padding-bottom: 0.75em;
    padding-left: 0px;
    padding-right: 0px;
    margin-top: 0px;
    margin-bottom: 0px;
    margin-left: 0px;
    margin-right: 0px;
}

@media screen and (max-width: 1200px) {
    .content_table {
        margin-left: var(--docs-size-min-width-border);
        margin-right: var(--docs-size-min-width-border);
        margin-bottom: 6px;
        border-bottom-width: 1px;
        border-bottom-style: solid;
        border-bottom-color: var(--color-underline);
    }

    .content_table .content_listing {
        min-height: 4px;
    }

    .docs {
        margin-left: var(--docs-size-min-width-border);
        margin-right: var(--docs-size-min-width-border);
    }
}

@media screen and (min-width: 1201px) {
    .content_table {
        width: var(--content-table-size-min-width);
        position: fixed;
        max-height: calc(100vh - 40px);
        height: calc(100vh - 40px);
    }

    .content_table .content_listing {
        border-right-width: 1px;
        border-right-style: solid;
        border-right-color: var(--color-underline);
        display: flow-root;
        width: 299px;
        overflow: overlay;
        max-height: calc(100vh - 80px);
        overflow: overlay;
        height: calc(100vh - 80px);
        position: absolute;
    }

    .docs {
        width: calc(100% - var(--content-table-size-min-width) - var(--docs-size-min-width-border) - 4px);
        float: right;
    }

}


.c_py_operator {
    color: var(--color-python-operator);
}

.c_py_magic {
    color: var(--color-python-magic);
}

.c_py_numeric {
    color: var(--color-python-numeric);
}

.c_py_string {
    color: var(--color-python-string);
}

.c_py_keyword {
    color: var(--color-python-keyword);
}

.c_py_builtin {
    color: var(--color-python-builtin);
}

.c_py_builtin_exception {
    color: var(--color-python-builtin-exception);
}

.c_py_punctuation {
    color: var(--color-python-punctuation);
}

.c_py_operator_attribute {
    color: var(--color-python-operator-attribute);
}

.c_py_identifier_attribute {
    color: var(--color-python-identifier-attribute);
}

.c_py_identifier_console_prefix {
    color: var(--color-python-identifier-console-prefix);
}

.c_py_format_string_mark {
    color: var(--color-python-format-string-mark);
}

.c_py_comment {
    color: var(--color-python-comment);
}

.c_py_format_string_code {
    color: var(--color-python-format-string-code);
}

.c_py_format_string_postfix {
    color: var(--color-python-format-string-postfix);
}

td.parameter_table_name, td.parameter_table_type, td.parameter_table_optional, td.parameter_table_keyword_only,
td.parameter_table_default {
    text-align: center;
}

.parameter_table_keyword_only, .parameter_table_optional {
    width: var(--size-table-mark-field-width);
}

.parameter_table_description {
    width: var(--size-table-description-width);
}

td.parameter_table_description {
    text-align: left;
}

.parameter_table blockquote {
    width: initial;
    min-width: initial;
}

.function_parameter {
    font-size: 80%;
    color: var(--color-function-parameter-font);
}
