:root {
    /* Document */

    --size-border-default: 16px;

    --size-body-min: 600px;
    --size-body-break: 960px;
    --size-body-middle: 1024px;
    --size-body-top: 1664px;
    
    /* Header */

    --size-header-min-side-border: var(--size-border-default);

    --size-header-inner-border: 0.5rem;
    --size-header-button-border-radius: 0.375rem;
    --size-header-button-line-height: 1.25rem;
    --size-header-button-inner-border: 0.75rem;
    
    --size-header-navigation-button-spacing: 0.5rem;
    --size-header-theme-picker-width: 6rem;
    --size-header-burger-open-width: 8rem;

    --size-header-height: calc(
        var(--size-header-inner-border) * 2 +
        var(--size-header-button-inner-border) * 2 +
        var(--size-header-button-line-height)
    );

    --size-header-anchor-difference: 1rem;
    --size-header-anchor-total-push: calc(var(--size-header-height) + var(--size-header-anchor-difference));

    --font-header-size: 0.875rem;
    --font-header-weight: 600;
    --font-header-family: system-ui, -apple-system, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif,
        'Apple Color Emoji', 'Segoe UI Emoji';
    --font-header-color: rgb(255 255 255);

    --color-header-background: rgb(128 137 147 / 0.90);
    
    --color-header-button-left: rgb(20 219 81 / 0.40);
    --color-header-button-left-selected: rgb(20 219 81 / 0.60);
    --color-header-button-left-hover: rgb(20 219 81 / 0.90);

    --color-header-button-right: rgb(237 91 233 / 0.40);
    --color-header-button-right-hover: rgb(237 91 233 / 0.90);

    --color-header-path-font: rgb(255 255 255 / 0.75);
    --color-header-path-select-font: var(--font-header-color);

    --size-header-path-spacing: 0.5rem;

    --size-header-icon-spacing: 0.5rem;
    --size-header-search-width: 14rem;

    /* Body */

    --font-body-color: rgb(255 255 255);
    --font-body-size : 1rem;
    --font-body-family: 'Jost', sans-serif;

    --color-body-background: rgb(54 57 63);

    --background-image-opacity: 0.2;
    --background-image-filter: blur(0rem) contrast(100%) brightness(34%);

    /* MarkDown */

    --size-markdown-border-side: 2rem;

    /* Scrollbar */

    --size-scrollbar-radius: calc(0.16rem + 4px);
    --size-scrollbar-border-radius: 0.5rem;

    --color-scrollbar-track: rgb(87 96 96 / 0.50);
    --color-scrollbar-thumb: rgb(26 29 29 / 0.75);

    /* Generic */
    
    --font-generic-size: 1.0rem;
    --font-generic-weight: 400;
    --font-generic-line-height: 1.2rem;
    --size-generic-spacing: 0.5rem;
    --size-generic-continuous-spacing: calc(var(--size-generic-spacing) * 2);

    --font-generic-highlight-size: calc(var(--font-generic-size) * 1.2);
    --font-generic-highlight-weight: var(--font-generic-weight);
    --font-generic-highlight-line-height: var(--font-generic-line-height);
    --font-generic-highlight-spacing: var(--size-generic-spacing);

    --size-generic-listing-indent: 1.2rem;


    --font-generic-title-size: 3rem;
    --font-generic-title-weight: 800;
    --font-generic-title-line-height: calc(var(--font-generic-title-size) * 1.1);
    --size-generic-title-spacing: 1rem;

    --font-generic-medium-title-size: 2.0rem;
    --font-generic-medium-title-weight: 800;
    --font-generic-medium-title-line-height: calc(var(--font-generic-medium-title-size) * 1.1);
    --size-generic-medium-title-spacing: 0.5rem;

    --font-generic-sub-title-size: 1.6rem;
    --font-generic-sub-title-weight: 800;
    --font-generic-sub-title-line-height: calc(var(--font-generic-sub-title-size) * 1.1);
    --size-generic-sub-title-spacing: 0.5rem;

    --size-generic-underline-spacing: 0.5rem;
    --size-generic-underline: 1px;
    --color-generic-underline: rgb(200 225 255 / 0.30);

    --size-generic-line-spacing-top: 2rem;
    --size-generic-line-spacing-bot: 1rem;

    --ratio-text-icon-split: 0.125;

    /* CodeBlock */

    --color-code-block-background: rgb(172 179 172 / 0.20);
    --size-code-block-padding: 1rem;
    --size-code-block-spacing: 1rem;
    --size-code-block-border-radius: 0.5rem;
    --font-code-block-size: 85%;
    --font-code-block-line-height: 1.45;

    --color-code-block-python-operator: rgb(255 199 222);
    --color-code-block-python-magic: rgb(122 255 244);
    --color-code-block-python-numeric: rgb(191 152 255);
    --color-code-block-python-string: rgb(174 230 151);
    --color-code-block-python-keyword: rgb(255 109 109);
    --color-code-block-python-builtin: rgb(0 170 255);
    --color-code-block-python-builtin-exception: rgb(176 88 255);
    --color-code-block-python-punctuation: rgb(157 157 255);
    --color-code-block-python-operator-attribute: rgb(255 255 194);
    --color-code-block-python-identifier-attribute: rgb(255 255 194);
    --color-code-block-python-identifier-console-prefix: rgb(255 121 25);
    --color-code-block-python-format-string-mark: rgb(249 17 17);
    --color-code-block-python-format-string-code: rgb(255 152 44);
    --color-code-block-python-format-string-postfix: rgb(255 152 44);
    --color-code-block-python-comment: rgb(155 185 243);

    /* Table */
    
    --color-generic-table-border: var(--color-generic-underline);
    --color-generic-table-head-background: rgb(191 158 255 / 0.12);
    --color-generic-table-line-odd-background: rgb(20 219 81 / 0.12);
    --color-generic-table-line-odd-hover-background: rgb(20 219 81 / 0.20);
    --color-generic-table-line-even-background: rgb(237 91 233 / 0.12);
    --color-generic-table-line-even-hover-background: rgb(237 91 233 / 0.20);

    --size-generic-table-border-radius: 0.5rem;
    --size-generic-table-border-inner: 0.5rem;
    --size-generic-table-spacing: 1rem;

    /* Code */

    --color-generic-code-background: rgb(166 193 220 / 0.10);
    --font-generic-code-size: 85%;
    --size-generic-code-border-radius: 0.5rem;
    --size-generic-border-inner-side: 0.3rem;
    --size-generic-border-inner-vertical: 0.2rem;

    /* Block Quote */

    --color-generic-block-quote-background: rgb(152 167 80 / 0.10);
    --color-generic-block-quote-border: rgb(152 167 80 / 0.50);
    --color-generic-block-quote-font: rgb(220 221 222);
    --size-generic-block-quote-border: 1rem;
    --size-generic-block-quote-border-radius: 0.5rem;
    --size-generic-block-quote-spacing: var(--size-generic-block-quote-border);
    --size-generic-block-quote-border-width: 2px;
    --size-generic-block-quote-min-width: calc(35% + 8rem);

    /* SVG */

    --color-svg-filter: invert(100);
    --size-anchor-scale: 0.60;
    --size-anchor-spacing: 0.65rem;

    --size-anchor-title-spacing: calc(
        var(--font-generic-title-size) * var(--size-anchor-scale) + var(--size-anchor-spacing)
    );

    --size-anchor-medium-title-spacing: calc(
        var(--font-generic-medium-title-size) * var(--size-anchor-scale) + var(--size-anchor-spacing)
    );

    --size-anchor-sub-title-spacing: calc(
        var(--font-generic-sub-title-size) * var(--size-anchor-scale) + var(--size-anchor-spacing)
    );
}

[variable-theme="black"] {
    /* Header */

    --color-header-background: rgb(84 91 99 / 0.90);

    /* Body */

    --color-body-background: rgb(0 0 0);

    --background-image-opacity: 0.2;
    --background-image-filter: blur(0rem) contrast(100%) brightness(67%);

    /* Scrollbar */

    --color-scrollbar-thumb: rgb(91 103 103 / 0.75);

    /* CodeBlock */

    --color-code-block: rgb(172 179 172 / 0.30);

    /* Code */

    --color-generic-code-background: rgb(184 203 222 / 0.20);

    /* Block Quote */

    --color-generic-block-quote-background: rgb(80 152 167 / 0.10);
    --color-generic-block-quote-border: rgb(80 152 167 / 0.50);

}

[variable-theme="white"] {
    /* Header */

    --font-header-color: rgb(0 0 0);

    --color-header-path-font: rgb(0 0 0 / 0.75);
    --color-header-background: rgb(171 182 196 / 0.90)

    /* Body */

    --font-body-color: rgb(0 0 0);
    --color-body-background: rgb(255 255 255);

    --background-image-opacity: 0.2;
    --background-image-filter: blur(0rem) contrast(100%) brightness(67%);

    /* Generic */

    --color-generic-underline: rgb(0 0 0 / 0.30);

    /* CodeBlock*/

    --color-code-block-python-comment: rgb(19 66 160);
    --color-code-block-python-string: rgb(66 144 35);
    --color-code-block-python-format-string-code: rgb(201 104 0);
    --color-code-block-python-format-string-postfix: rgb(201 104 0);
    --color-code-block-python-punctuation: rgb(0 0 153);
    --color-code-block-python-identifier-console-prefix: rgb(230 96 0);
    --color-code-block-python-operator-attribute: rgb(174 174 0);
    --color-code-block-python-identifier-attribute: rgb(174 174 0);
    --color-code-block-python-operator: rgb(153 0 64);
    --color-code-block-python-magic: rgb(0 128 117);
    --color-code-block-python-numeric: rgb(98 0 255);
    --color-code-block-python-builtin: rgb(0 136 204);
    --color-code-block-python-keyword: rgb(230 0 0);

    /* Code */

    --color-code-background: rgb(34 61 88 / 0.10);

    /* Block Quote */
    --color-generic-block-quote-background: rgb(80 86 167 / 0.10);
    --color-generic-block-quote-border: rgb(80 86 167 / 0.50);
    --color-generic-block-quote-font: rgb(49 51 53);

    /* SVG */

    --color-svg-filter: none;
}

/* Collapsible content modifiers */

:root {
    --size-collapsible-field-border-inner: var(--size-border-default);
}

@media screen and (max-width: 1024px) {
    :root {
        --font-collapsible-text-align: center;
        --display-collapsible-field: block;
        --size-collapsible-field-width: calc(
            100%
            - var(--size-collapsible-field-border-inner)
            - var(--size-collapsible-field-border-outer)
        );
        --size-collapsible-spacing: 2rem;
    }
}

@media screen and (min-width: 1025px) {
    :root {
        --font-collapsible-text-align: left;
        --display-collapsible-field: flex;
        --size-collapsible-field-width: calc(
            50%
            - var(--size-collapsible-field-border-inner)
            - var(--size-collapsible-field-border-outer)
        );
        --size-collapsible-spacing: 0rem;
    }
}

@media screen and (max-width: 1664px) {
    :root {
        --size-collapsible-field-border-outer: var(--size-border-default);
    }
}

@media screen and (min-width: 1665px) {
    :root {
        --size-collapsible-field-border-outer: calc((100% - var(--size-body-top)) * 0.5 + var(--size-border-default));
    }
}

/* Content modifiers */

@media screen and (max-width: 600px) {
    :root {
        --size-content-border-side: var(--size-border-default);
        --size-content-width: calc(100% - var(--size-content-border-side) * 2);
    }
}

@media screen and (min-width: 601px) and (max-width: 1664px) {
    :root {
        --size-content-border-side: var(--size-border-default);
        --size-content-width: calc(100% - var(--size-content-border-side) * 2);
    }
}

@media screen and (min-width: 1665px) {
    :root {
        --size-content-border-side: calc((100% - var(--size-body-top)) * 0.5 + var(--size-border-default));
        --size-content-width: calc(var(--size-body-top) - var(--size-border-default) * 2);
    }
}

/* Header size modifiers */

@media screen and (max-width: 1024px) {
    :root {
        --size-header-side-border: var(--size-header-min-side-border);
    }
}

@media screen and (min-width: 1025px) and (max-width: 1664px) {
    :root {
        --size-header-side-border: calc((100% - var(--size-body-middle)) * 0.25 + var(--size-header-min-side-border));
    }
}

@media screen and (min-width: 1665px) {
    :root {
        --size-header-side-border: calc(
            (var(--size-body-top) - var(--size-body-middle)) * 0.25
            + var(--size-header-min-side-border)
        );
    }
}

/* Header */

.header_menu {
    padding-left: var(--size-header-side-border);
    padding-right: var(--size-header-side-border);
    padding-top: var(--size-header-inner-border);
    padding-bottom: var(--size-header-inner-border);
    z-index: 1;
    transition: all 0.3s;
    left: 0;
    right: 0;
    top: 0;
    position: fixed;
    background-color: var(--color-header-background);
    box-sizing: border-box;
    border-width: 0;
    border-style: solid;
    min-width: var(--size-body-min);
}

.header_menu, p[align] a {
    font-family: var(--font-header-family);
    color: var(--font-header-color);
    line-height: var(--size-header-button-line-height);
    font-size: var(--font-header-size);
    font-weight: var(--font-header-weight);
    word-wrap: break-word;
}

.header_menu .header_left {
    float: left!important;
    width: calc(100% - var(--size-header-theme-picker-width) - var(--size-header-button-inner-border) * 2);
    overflow: hidden;
    max-width: fit-content;
    display: inline-flex;
}

.header_menu.with_search .header_left{
    width: calc(
    100%
    - var(--size-header-theme-picker-width)
    - var(--size-header-button-inner-border) * 2
    - var(--size-header-search-width)
    - var(--size-header-navigation-button-spacing)
    ) !important;
}

@media screen and (max-width: 1200px) {
    .header_menu .burgerable_1200 {
        visibility: hidden;
        width: 0;
    }
    .header_menu .burger_1200 {
        visibility: visible;
        width: auto;
        margin-right: var(--size-header-navigation-button-spacing);
    }
}

@media screen and (min-width: 1201px) {
    .header_menu .burgerable_1200 {
        visibility: visible;
        width: auto;
    }
    .header_menu .burger_1200 {
        visibility: hidden;
        width: 0;
        margin-right: 0;
        padding: 0;
    }
}

.header_menu .burgerable_1200 {
    display: inline-flex;
}

.header_menu .burger_1200 {
    max-width: var(--size-header-button-line-height);
}

.header_menu .burger_1200 summary {
    max-width: var(--size-header-button-line-height);
    height: var(--size-header-button-line-height);
}


.header_menu .burger_1200 summary img {
    height: var(--size-header-button-line-height);
    width: var(--size-header-button-line-height);
    filter: var(--color-svg-filter);
}

.header_menu .burger_1200 > summary {
    list-style: none;
    cursor: pointer;
}

.header_menu .burger_1200 > summary::-webkit-details-marker {
  display: none;
}

.header_menu .header_left .burger_1200 a {
    display: block;
    margin-right: 0;
    background-color: transparent;
}

.header_menu .header_left .burger_1200[open] {
    max-width: calc(var(--size-header-burger-open-width) - var(--size-header-button-inner-border) * 2);
    width: calc(var(--size-header-burger-open-width) - var(--size-header-button-inner-border) * 2);
}

.header_menu .burger_1200 details-menu {
    margin-left: calc(0rem - var(--size-header-button-inner-border));
    margin-top: var(--size-header-button-inner-border);
    display: block;
    text-align: inherit;
    border-bottom-left-radius: var(--size-header-button-border-radius);
    border-bottom-right-radius: var(--size-header-button-border-radius);
    position: fixed;
    width: var(--size-header-burger-open-width);
}

.header_menu .header_left .header_left_overflow_cut {
    padding-right: var(--size-header-path-spacing);
    font-size: calc(var(--font-header-size) * 1.5);
    color: var(--color-header-path-font);
    float: right;
    width: max-content;
    overflow: hidden;
    padding-top: var(--size-header-button-inner-border);
}

.header_menu .header_left .header_left_overflow_cut .overflow {
    width: max-content;
    float: right;
}

.header_menu .header_left .header_left_overflow_cut a {
    margin-left: 0;
    margin-right: 0;
    margin-top: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-bottom: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: transparent;
    border-radius: 0;
    border-style: none;
}

.header_menu .header_left .header_left_overflow_cut a:hover {
    background-color: transparent;
    color: var(--color-header-path-select-font);
}

.header_menu .header_right {
    float: right !important;
}

.header_menu a, .header_menu details, .header-menu details-menu, p[align] a {
    color: inherit;
    padding-left: var(--size-header-button-inner-border);
    padding-right: var(--size-header-button-inner-border);
    padding-top: var(--size-header-button-inner-border);
    padding-bottom: var(--size-header-button-inner-border);
    align-items: center;
    text-decoration: inherit;
}

.header_menu .header_left a {
    display: inline-flex;
    margin-right: var(--size-header-navigation-button-spacing);
    background-color: var(--color-header-button-left);
}

p[align] a {
    display: inline-flex;
}

p[align="left"] a {
    background-color: var(--color-header-button-left);
}

p[align="right"] a {
    background-color: var(--color-header-button-right);
}

p[align] a::after {
    height: var(--size-header-button-line-height);
    width: var(--size-header-button-line-height);
    content: "";
    background-size: cover;
    filter: var(--color-svg-filter);
}

p[align="right"] a::after {
    margin-left: var(--size-header-icon-spacing);
    background-image: url(/static/arrow_left_to_right.svg);
}

.header_menu a, p[align] a {
    border-radius: var(--size-header-button-border-radius);
}

.header_menu .header_left a:hover, p[align="left"] a:hover {
    background-color: var(--color-header-button-left-hover);
}

.header_menu .header_right a:hover, p[align="right"] a:hover {
    background-color: var(--color-header-button-right-hover);
}

.header_menu .header_left .selected {
    background-color: var(--color-header-button-left-selected);
}

.header_menu .header_left a img {
    filter: var(--color-svg-filter);
    height: var(--font-header-size);
    width: var(--font-header-size);
    padding-top: calc((var(--size-header-button-line-height) - var(--font-header-size)) / 2);
    padding-bottom: calc((var(--size-header-button-line-height) - var(--font-header-size)) / 2);
    padding-left: calc(var(--font-header-size) * var(--ratio-text-icon-split));
}

.header_menu .header_left .burger_1200 a img {
    position: absolute;
}

.header_menu details {
    height: var(--size-header-button-line-height);
    border-radius: var(--size-header-button-border-radius);
    align-items: center;
    display: inline-flex;
    text-decoration: inherit;
}

.header_menu .header_left details-menu, .header_menu .header_left details {
    background-color: var(--color-header-button-left);
}

.header_menu .header_right details-menu, .header_menu .header_right details {
    background-color: var(--color-header-button-right);
}

.header_theme_picker, .header_theme_picker  {
    border: 0;
}

.header_menu details[open] {
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.header_theme_picker {
    float: right;
    width: calc(var(--size-header-theme-picker-width) - var(--size-header-button-inner-border) * 2);
}

.header_theme_picker summary, .header_theme_picker details-menu a {
    cursor: pointer;
}

.header_menu summary:focus-visible {
    outline: 0;
}

.header_theme_picker details-menu {
    width: var(--size-header-theme-picker-width);
    margin-left: calc(0rem - var(--size-header-button-inner-border));
    margin-top: var(--size-header-button-inner-border);
    display: block;
    text-align: inherit;
    border-bottom-left-radius: var(--size-header-button-border-radius);
    border-bottom-right-radius: var(--size-header-button-border-radius);
}

.header_theme_picker summary::-webkit-details-marker {
    display: none;
}


.header_theme_picker a {
    display: block;
}


.header_search {
    width: var(--size-header-search-width);
    border-color: transparent;
    border-width: var(--size-generic-underline);
    flex: 1;
    flex-direction: row;
    float: left;
    border-radius: var(--size-header-button-border-radius);
    display: inline-flex;
    margin-right: var(--size-header-navigation-button-spacing);
    background-color: var(--color-header-button-right);
}

.header_search img {
    height: var(--size-header-button-line-height);
    width: var(--size-header-button-line-height);
    filter: var(--color-svg-filter);
    padding-left: var(--size-header-button-inner-border);
    padding-right: var(--size-header-button-inner-border);
    padding-top: var(--size-header-button-inner-border);
    padding-bottom: var(--size-header-button-inner-border);
    margin-right: calc(0px - var(--size-header-button-line-height) - var(--size-header-button-inner-border) * 2);
    margin-left: 0;
}

.header_search .submit {
    margin-right: 0;
    margin-left: calc(0px - var(--size-header-button-line-height) - var(--size-header-button-inner-border) * 2);
    height: var(--size-header-button-line-height);
    width: var(--size-header-button-line-height);
}

.header_search .submit img {
    margin-right: 0;
    margin-left: 0;
    position: absolute;
}

.header_search input {
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    background-color: transparent;
    border: none;
    color: inherit;
}

.header_search input::placeholder {
    color: white;
    font: inherit;
    font-size: inherit;
    line-height: inherit;
    opacity: 0.5;
}

.header_search #query {
    padding-left: calc(var(--size-header-button-line-height) + var(--size-header-button-inner-border) * 2);
    padding-right: var(--size-header-button-inner-border);
    padding-top: var(--size-header-button-inner-border);
    padding-bottom: var(--size-header-button-inner-border);
    border-radius: var(--size-header-button-border-radius);
    width: calc(100% - var(--size-header-button-line-height) - var(--size-header-button-inner-border) * 3);
}

.header_search #submit {
    position: absolute;
    border: none;
    height: calc(var(--size-header-button-line-height) + var(--size-header-button-inner-border) * 2);
    width: calc(var(--size-header-button-line-height) + var(--size-header-button-inner-border) * 2);
    cursor: pointer;
    border-top-right-radius: var(--size-header-button-border-radius);
    border-bottom-right-radius: var(--size-header-button-border-radius);
}

.header_search #submit:focus-visible {
    outline: none;
}

.header_search input:focus #query, .header_search input:focus-visible #query {
    outline-color: var(--color-generic-underline);
    outline-style: solid;
    outline-width: var(--size-generic-underline);
}


/* Body */

body {
    min-height: 100%;
    max-height: 100%;
    margin: 0;
    padding: 0;
    background-color: var(--color-body-background);
    color: var(--font-body-color);
    font-size: var(--font-body-size);
    min-width: var(--size-body-min);
}

a {
    color: inherit;
    text-decoration: inherit;
}

input {
    padding: 0;
    margin: 0;
}

.background {
    background-image: url(/static/koishi_kokoro_graffiti_censored_by_ashy_opt.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    opacity: var(--background-image-opacity);
    filter: var(--background-image-filter);
}

/* Scrollbar */

::-webkit-scrollbar {
    width: var(--size-scrollbar-radius);
    height: var(--size-scrollbar-radius);
}

::-webkit-scrollbar-track{
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
    margin-right: 0;
    background-color: var(--color-scrollbar-track);
}

::-webkit-scrollbar-thumb{
    border-radius: var(--size-scrollbar-border-radius);
    background-color: var(--color-scrollbar-thumb);
}

::-webkit-scrollbar-corner{
    background-color: var(--color-scrollbar-track);
}

/* Generic */

h1, h2, h3, h4, h5, h6, h7, h8, p{
    margin-top: 0;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
}


section {
    font-family: var(--font-body-family);
}


section ul {
    padding-left: var(--size-generic-listing-indent);
}


section p, section li {
    font-size: var(--font-generic-size);
    font-weight: var(--font-generic-weight);
    line-height: var(--font-generic-line-height);
    margin-bottom: var(--size-generic-spacing);
    min-height: var(--font-generic-line-height);
}

section p a img, section li a img {
    height: var(--font-generic-size);
    width: var(--font-generic-size);
    padding-top: calc((var(--font-generic-line-height) - var(--font-generic-size)) / 2);
    padding-bottom: calc((var(--font-generic-line-height) - var(--font-generic-size)) / 2);
    filter: var(--color-svg-filter);
    position: absolute;
    padding-left: calc(var(--font-generic-size) * var(--ratio-text-icon-split));
}

section h1 {
    font-size: var(--font-generic-title-size);
    font-weight: var(--font-generic-title-weight);
    line-height: var(--font-generic-title-line-height);
    margin-bottom: var(--size-generic-title-spacing);
}

section h2 {
    font-size: var(--font-generic-medium-title-size);
    font-weight: var(--font-generic-medium-title-weight);
    line-height: var(--font-generic-medium-title-line-height);
    margin-bottom: var(--size-generic-medium-title-spacing);
}

section h3 {
    font-size: var(--font-generic-sub-title-size);
    font-weight: var(--font-generic-sub-title-weight);
    line-height: var(--font-generic-sub-title-line-height);
    margin-bottom: var(--size-generic-sub-title-spacing);
}

section h4 {
    font-size: calc(var(--font-generic-size) * 1.37);
}

section h5 {
    font-size: calc(var(--font-generic-size) * 1.30);
}

section h6 {
    font-size: calc(var(--font-generic-size) * 1.11);
}

section h7 {
    font-size: calc(var(--font-generic-size) * 1.05);
}

section h8 {
    font-size: calc(var(--font-generic-size) * 1.00);
}

section mark {
    color: inherit;
    background-color: transparent;
    display: block;
    font-size: var(--font-generic-highlight-size);
    font-weight: var(--font-generic-highlight-weight);
    line-height: var(--font-generic-highlight-line-height);
    margin-bottom: var(--font-generic-highlight-spacing);
}

section mark a img {
    height: var(--font-generic-highlight-size);
    width: var(--font-generic-highlight-size);
    padding-top: calc((var(--font-generic-highlight-line-height) - var(--font-generic-highlight-size)) / 2);
    padding-bottom: calc((var(--font-generic-highlight-line-height) - var(--font-generic-highlight-size)) / 2);
    filter: var(--color-svg-filter);
    position: absolute;
    padding-left: calc(var(--font-generic-highlight-size) * var(--ratio-text-icon-split));
}

.underline {
    width: 100%;
    padding-bottom: var(--size-generic-underline-spacing);
    border-bottom-width: var(--size-generic-underline);
    border-bottom-style: solid;
    border-bottom-color: var(--color-generic-underline);
}

hr {
    border-top-style: none;
    border-left-style: none;
    border-right-style: none;
    width: 100%;
    border-bottom-width: var(--size-generic-underline);
    border-bottom-style: solid;
    border-bottom-color: var(--color-generic-underline);
    margin-bottom: var(--size-generic-line-spacing-bot);
    margin-top: var(--size-generic-line-spacing-top);
}

.main_block {
    margin-top: var(--size-header-height);
}



table tbody tr:nth-child(even) {
    background-color: var(--color-generic-table-line-even-background);
}

table tbody tr:nth-child(even):hover {
    background-color: var(--color-generic-table-line-even-hover-background);
}

table tbody tr:nth-child(odd) {
    background-color: var(--color-generic-table-line-odd-background);
}

table tbody tr:nth-child(odd):hover {
    background-color: var(--color-generic-table-line-odd-hover-background);
}

table th:first-child {
    border-radius: var(--size-generic-table-border-radius) 0 0 0 !important;
}

table th {
    border-width: 1px 1px 1px 0;
}

table th:first-child {
    border-width: 1px 1px 1px 1px;
}

table td {
    border-width: 0px 1px 1px 0;
}

table td:first-child {
    border-width: 0px 1px 1px 1px;
}

table th:last-child {
    border-radius: 0 var(--size-generic-table-border-radius) 0 0 !important;
}

table tr:last-child td:first-child {
    border-radius: 0 0 0 var(--size-generic-table-border-radius) !important;
}

table tr:last-child td:last-child {
    border-radius: 0 0 var(--size-generic-table-border-radius) 0 !important;
}

table blockquote {
    width: initial;
    min-width: initial;
}


/* MarkDown - CodeBlock */

.md {
    padding-left: var(--size-markdown-border-side);
    padding-right: var(--size-markdown-border-side);
}

/* MarkDown - Code Block*/

.md .highlight pre {
    padding: var(--size-code-block-padding);
    overflow: auto;
    font-size: var(--font-code-block-size);
    line-height: var(--font-code-block-line-height);
    background-color: var(--color-code-block-background);
    border-radius: var(--size-code-block-border-radius);
    margin-top: (--size-code-block-spacing);
    margin-bottom: (--size-code-block-spacing);
    margin-left: 0;
    margin-right: 0;
}

.md .highlight pre .k, .md .highlight pre .kn, .md .highlight pre .ow, .md .highlight pre .kc {
    color: var(--color-code-block-python-keyword);
}

.md .highlight pre .o {
    color: var(--color-code-block-python-operator);
    /* dot operator has the same class at the others */
    /* color: var(--color-code-block-python-operator-attribute); */
}

.md .highlight pre .nd {
    /* decorator operator has no operator class, it is applied with the string instead */
    color: var(--color-code-block-python-operator);
}

.md .highlight pre .sd, .md .highlight pre .s1, .md .highlight pre .sa, .md .highlight pre .se {
    color: var(--color-code-block-python-string);
}

.md .highlight pre .si {
    color: var(--color-code-block-python-format-string-mark);
}

.md .highlight pre .nb {
    color: var(--color-code-block-python-builtin);
}

.md .highlight pre .p {
    color: var(--color-code-block-python-punctuation);
}

.md .highlight pre .mi, .md .highlight pre .mf, .md .highlight pre .mh {
    color: var(--color-code-block-python-numeric);
}

/* Attributes have no specific class either */

.md .highlight pre .c1 {
    color: var(--color-code-block-python-comment);
}

.md .highlight pre .ne {
    color: var(--color-code-block-python-builtin-exception);
}

.md .highlight pre .fm {
    color: var(--color-code-block-python-magic);
}

/* MarkDown - Table */


table {
    width: 100%;
    table-layout: auto;
    padding-top: var(--size-generic-table-border-inner);
    padding-bottom: var(--size-generic-table-border-inner);
    padding-left: 0px;
    padding-right: 0px;
    border-spacing: 0;
    border-radius: var(--size-generic-table-border-radius);
    table-layout: fixed;
    word-break: break-word;
    margin-left: 0;
    margin-right: 0;
    margin-top: var(--size-generic-table-spacing);
    margin-bottom: var(--size-generic-table-spacing)
}

table td, table th {
    padding-top: var(--size-generic-table-border-inner);
    padding-left: var(--size-generic-table-border-inner);
    padding-bottom: var(--size-generic-table-border-inner);
    padding-right: var(--size-generic-table-border-inner);
    border-color: var(--color-generic-table-border);
    border-width: 1px;
    border-style: solid;
    overflow: hidden;
}

table thead tr th {
    background-color: var(--color-generic-table-head-background);
    text-transform: uppercase!important;
    padding-top: var(--size-generic-table-border-inner);
    padding-bottom: var(--size-generic-table-border-inner);
    padding-left: 0px;
    padding-right: 0px;
    min-width: 8rem;
}


h1 .anchor, h2 .anchor, h3 .anchor, h4 .anchor, h5 .anchor, h6 .anchor, h7 .anchor, h7 .anchor, .with_anchor .anchor {
    margin-top: calc(0px - var(--size-header-anchor-total-push));
    padding-top: var(--size-header-anchor-total-push);
    cursor: pointer;
    position: sticky;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
h7:hover .anchor, .with_anchor:hover .anchor {
    visibility: visible;
}

h1:hover .anchor, h2:hover .anchor, h3:hover .anchor, h4:hover .anchor, h5:hover .anchor, h6:hover .anchor,
h7:hover .anchor, .with_anchor:hover .anchor {
    visibility: visible;
}


/* MarkDown - Code */

.md code {
    padding-top: var(--size-generic-border-inner-vertical);
    padding-bottom: var(--size-generic-border-inner-vertical);
    padding-right: var(--size-generic-border-inner-side);
    padding-left: var(--size-generic-border-inner-side);
    margin: 0;
    font-size: var(--font-generic-code-size);
    background: var(--color-generic-code-background);
    border-radius: var(--size-generic-code-border-radius);
}

/* MarkDown - BlockQuote */

.md blockquote {
    background-color: var(--color-generic-block-quote-background);
    border-width: var(--size-generic-block-quote-border-width);
    border-style: solid;
    border-color: var(--color-generic-block-quote-border);
    border-radius: var(--size-generic-block-quote-border-radius);
    margin-top: var(--size-generic-block-quote-spacing);
    margin-bottom: var(--size-generic-block-quote-spacing);
    margin-left: 0;
    margin-right: 0;
    padding-top: var(--size-generic-block-quote-border);
    padding-left: var(--size-generic-block-quote-border);
    padding-right: var(--size-generic-block-quote-border);
    padding-bottom: var(--size-generic-block-quote-border);
    color: var(--color-generic-block-quote-font);
    min-width: var(--size-generic-block-quote-min-width);
    width: max-content;
    max-width: calc(
        100% - var(--size-generic-block-quote-border) * 2 - var(--size-generic-block-quote-border-width) * 2
    );
}

.md blockquote p {
    margin-top: 0;
    margin-bottom: 0;
}

.md p {
    margin-bottom: var(--size-generic-continuous-spacing);
    margin-top: var(--size-generic-continuous-spacing);
}

/* Anchor */

.md .anchor {
    content: url('/static/anchor.svg');
    filter: var(--color-svg-filter);
    padding-right: var(--size-anchor-spacing);
    visibility: hidden;
}

.md .anchor:hover, .md h1:hover .anchor, .md h2:hover .anchor, .md h3:hover .anchor {
    visibility: visible;
}


.md h1 {
    margin-left: calc(0px - var(--size-anchor-title-spacing));
    padding-left: var(--size-anchor-title-spacing);
}

.md h1 .anchor {
    width: calc(var(--font-generic-title-size) * var(--size-anchor-scale));
    height: calc(var(--font-generic-title-size) * var(--size-anchor-scale));
    margin-left: calc(0px - var(--size-anchor-title-spacing));
}

.md h2 {
    margin-left: calc(0px - var(--size-anchor-medium-title-spacing));
    padding-left: var(--size-anchor-medium-title-spacing);
}

.md h2 .anchor {
    width: calc(var(--font-generic-medium-title-size) * var(--size-anchor-scale));
    height: calc(var(--font-generic-medium-title-size) * var(--size-anchor-scale));
    margin-left: calc(0px - var(--size-anchor-medium-title-spacing));
}

.md h3 {
    margin-left: calc(0px - var(--size-anchor-sub-title-spacing));
    padding-left: var(--size-anchor-sub-title-spacing);
}

.md h3 .anchor {
    width: calc(var(--font-generic-sub-title-size) * var(--size-anchor-scale));
    height: calc(var(--font-generic-sub-title-size) * var(--size-anchor-scale));
    margin-left: calc(0px - var(--size-anchor-sub-title-spacing));
}
