:root {
    --size-title-spacing: 2rem;

    --font-color-link: rgb(203 255 219);
    --font-color-link-hover: rgb(174 251 255);

    --size-content-max-width: 1300px;

    --size-footnote-spacing-top: 5rem;
    --size-footnote-spacing-bot: 2.5rem;

    --size-content-spacing-bot: 5rem;
}

[variable-theme="black"] {
}

[variable-theme="white"] {
    --font-color-link: rgb(0 102 31);
    --font-color-link-hover: rgb(0 141 149);
}

.main_block {
    margin-bottom: var(--size-content-spacing-bot);
}

@media screen and (max-width: 1300px) {
    .main_block {
        margin-left: var(--size-content-border-side);
        margin-right: var(--size-content-border-side);
        width: calc(100% - var(--size-content-border-side) * 2);
        max-width: calc(100% - var(--size-content-border-side) * 2);
    }
}
@media screen and (min-width: 1301px) {
    .main_block {
        margin-left: auto;
        margin-right: auto;
        width: calc(var(--size-content-max-width) - var(--size-content-border-side) * 2);
        max-width: calc(var(--size-content-max-width) - var(--size-content-border-side) * 2);
    }
}


.main_block h1, .main_block h2, .main_block h3 {
    padding-top: var(--size-title-spacing);
    padding-bottom: var(--size-generic-underline-spacing);
    border-bottom-width: var(--size-generic-underline);
    border-bottom-style: solid;
    border-bottom-color: var(--color-generic-underline);
}

.main_block a {
    color: var(--font-color-link);
}

.main_block a:hover {
    color: var(--font-color-link-hover);
    transition: color 400ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footnote {
    margin-top: var(--size-footnote-spacing-top);
    margin-bottom: var(--size-footnote-spacing-bot);
}
