:root {
    /* Body */
    --color-body-font: rgb(255 255 255);

    --color-banner-underline: rgb(255 255 255);

    --color-content-item-icon: rgb(108 230 101);
    --color-content-item-icon-img: contrast(1000%) invert(31%) sepia(100%) saturate(10000%) hue-rotate(270deg);
    --color-content-card-icon: rgb(108 230 101);

    /* Banner */

    --color-banner-background-opacity: 0.4;

    --font-banner-color: rgb(255 255 255);
    --font-banner-weight: 400;
    --font-banner-description-font-size: 1.2rem;
    --font-banner-description-line-height: 1.5;
    --font-banner-title-size: 12rem;

    /* Content */

    --font-content-line-height: 1.5;
    --size-content-spacing: 6rem;

    /* Feature List */

    --size-feature-list-spacing: 2rem;
    --size-feature-list-icon: 2.75rem;
    --size-feature-list-icon-box: 4rem;
    --size-feature-list-icon-border: calc((var(--size-feature-list-icon-box) - var(--size-feature-list-icon)) * 0.5);
    --size-feature-list-icon-spacing: 1rem;

    /* Extras */

    --size-card-spacing: 3rem;
    --size-card-border-radius: 2rem;
    --size-card-width: calc(33% - var(--size-card-border-radius) * 2);
    --size-card-min-width: calc(var(--size-body-top) * 0.25);
    --size-card-max-width: calc(var(--size-body-top) * 0.50);
    --size-card-icon: 6rem;

    --color-card-hover: rgb(0 0 0 / 0.10);

    /* Footer */

    --size-footer-spacing: 3rem;
    --size-footer-border-spacing: 1rem;
    --size-footer-field-spacing: 3rem;
}

[variable-theme="black"] {
    /* Banner */

    --color-banner-background-opacity: 0.3;

    /* Extras */

    --color-card-hover: rgb(124 124 124 / 0.10);

}

[variable-theme="white"] {
    /* Banner */

    --color-banner-background-opacity: 0.9;

    /* Extras */

    --color-card-hover: rgb(124 124 124 / 0.10);
}


/* Define custom fonts */

@font-face {
  font-family: "kokoro";
  src: url('/assets/kokoro_font_0_0_1.otf');
  font-weight: normal;
  font-style: normal;
}


/* Shared */

.icon img {
    filter: var(--color-content-item-icon-img);
}

/* Banner */

.banner {
    position: relative;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    overflow: hidden;
    pointer-events: none;
    margin-top: 0px;
    z-index: 0;
    min-height: 100vh;
    align-items: center;
    display: flex;
}

.banner_box {
    text-align: center;
    position: relative;
    width: max-content;
    margin-right: auto;
    margin-left: auto;
    word-break: break-word;
    font-weight: var(--font-banner-weight);
    color: var(--font-banner-color);
}

.banner_box .title {
    font-size: var(--font-banner-title-size);
    line-height: var(--font-banner-title-size);
    text-transform: uppercase!important;
    font-family: kokoro;
    word-break: keep-all;
    overflow: hidden;
    height: var(--font-banner-title-size);
}

.banner_box .underline {
    width: 90%;
    border-bottom-width: 0.3rem;
    border-bottom-style: solid;
    margin-bottom: 1rem;
    border-bottom-color: var(--font-banner-color);
    margin-left: auto;
    margin-right: auto;
}

.banner_box .description {
    font-size: var(--font-banner-description-font-size);
    line-height: var(--size-banner-line-height);
    text-transform: uppercase!important;
    font-style: italic;
}

.banner_background {
    opacity: var(--color-banner-background-opacity);
    background-image: url('./koishi_kokoro_graffiti_censored_by_ashy_opt.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: absolute;
    box-shadow: inset 0 0 200px 20px var(--color-body-background);
}

.content {
    line-height: var(--font-content-line-height);
    word-break: break-word;
    margin-top: var(--size-content-spacing);
}

.content:last-child{
    margin-bottom: var(--size-content-spacing);
}

.feature_list {
    width: 100%;
}

.feature_list .content {
    margin-right: auto;
    margin-left: auto;
    display: var(--display-collapsible-field);
}


.column_1, .column_2 {
    position: relative;
    width: var(--size-collapsible-field-width);
    max-width: var(--size-collapsible-field-width);
}

.column_1 {
    padding-left: var(--size-collapsible-field-border-outer);
    padding-right: var(--size-collapsible-field-border-inner);
    padding-bottom: var(--size-collapsible-spacing);
}

.column_1 mark {
    margin-bottom: var(--size-feature-list-spacing);
}

.column_2 {
    padding-left: var(--size-collapsible-field-border-inner);
    padding-right: var(--size-collapsible-field-border-outer);
}

.feature_list .content .column_1 {
    overflow: hidden;
    word-wrap: break-word;
    text-align: left;
}

.feature_list .content .item {
    display: flex;
    align-items: center;
    margin-bottom: var(--size-feature-list-spacing);
}

.feature_list .content .item .icon {
    background: var(--color-content-item-icon);
    width: var(--size-feature-list-icon-box);
    min-width: var(--size-feature-list-icon-box);
    height: var(--size-feature-list-icon-box);
    border-radius: 50%;
    margin-right: var(--size-feature-list-icon-spacing);
    justify-content: center;
    align-items: center;
    
}

.feature_list .content .item .icon img {
    margin: var(--size-feature-list-icon-border);
    width: var(--size-feature-list-icon);
    height: var(--size-feature-list-icon);
}

/* Extra */

.extras {
    width: 100%;
    max-width: var(--size-content-width);
    padding-left: var(--size-content-border-side);
    padding-right: var(--size-content-border-side);
}


.extras .content .row {
    width: 100%;
    display: var(--display-collapsible-field);
}

.extras .content .row .section_title {
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

.extras .content .card {
    margin-top: var(--size-card-spacing);
    max-width: var(--size-card-max-width);
    min-width: var(--size-card-min-width);
    width: var(--size-card-width);
    text-align: center;
    display: block;
    cursor: pointer;
    padding: var(--size-card-border-radius);
    border-radius: var(--size-card-border-radius);
    margin: auto;
}

.extras .content .card:hover {
    background-color: var(--color-card-hover);
}

.extras .content .card .icon {
    width: 100%;
    text-align: center;
    fill: var(--color-content-card-icon);
}

.extras .content .card .icon img {
    margin: 0;
    width: var(--size-card-icon);
    height: var(--size-card-icon);
}

/* Footer */

footer {
    margin-top: var(--size-footer-spacing);
    margin-bottom: var(--size-footer-spacing);
    display: flex !important;
    width: 100%;
    padding-top: var(--size-generic-underline-spacing);
    border-top-width: var(--size-generic-underline);
    border-top-style: solid;
    border-top-color: var(--color-generic-underline);
}


footer ul {
    display: block;
    list-style: none;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
    padding-inline-start: 0;
    display: flex !important;
    margin-left: auto;
    margin-right: auto;
    padding-top: var(--size-footer-border-spacing);
}

footer li {
    margin-left: var(--size-footer-field-spacing);
}

footer li:first-child {
    margin-left: 0;
}
