<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>Hata</title>

    <!-- Required meta tags -->
    {% include 'hata_meta_generic.html' %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_index_page_2022128.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_shared_20221230.css') }}">

    <!-- JS -->
    {% include 'hata_header_theme_picker_js.html' %}
</head>
<body>
    <nav class="header_menu">
        <div class="header_left">
            <a href="#" class="selected">
                Hata
            </a>
            <a href="./guides">
                Guides
            </a>
            <a href="./docs/hata">
                Documentation
            </a>
            {% include 'hata_header_github_button.html' %}
        </div>
        <div class="header_right">
            {% include 'hata_header_theme_picker.html' %}
        </div>
    </nav>
    <section class="banner">
        <div class="banner_background"></div>
        <div class="banner_box">
            <p class="title">
                Hata
            </p>
            <div class="underline"></div>
            <p class="description">
                {{ 'A blazing fast wrapper that you can\'t deny' }}
            </p>
        </div>
    </section>
    <section class="feature_list">
        <div class="content">
            <div class="column_1">
                <h3> What is hata </h3>
                <mark> {{
                    'Hata is an async Discord API wrapper written in Python named after Hata no Kokoro running '
                    'on top of scarletio.'
                }} </mark>

                <h5> Features </h5>

                <ul>
                    <li> {{ 'Asynchronous using async / await syntax' }} </li>
                    <li> {{ 'Feature rich API' }} </li>
                    <li> {{ 'Object oriented design' }} </li>
                    <li> {{ 'Automatic sharding' }} </li>
                </ul>
            </div>
            <div class="column_2">

                <div class="item">
                    <div class="icon">
                        <img src="/static/gear.svg">
                    </div>
                    <div class="text">
                        <h5>{{ 'Multiple simultaneous clients' }}</h5>
                        <mark>{{
                            'Hata can run multiple clients from the same instance without sacrificing performance'
                        }}</mark>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="/static/lighting.svg">
                    </div>
                    <div class="text">
                        <h5>{{ 'Performant' }}</h5>
                        <mark>{{
                            'Fast concurrent code using async/await syntax, cache control, PyPy support and more!'
                        }}</mark>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="/static/clock.svg">
                    </div>
                    <div class="text">
                        <h5>{{ 'Newest API features' }}</h5>
                        <mark>{{
                            'Whatever Discord decides to release/update/break Hata will support it natively in no time!'
                        }}</mark>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="/static/code.svg">
                    </div>
                    <div class="text">
                        <h5>{{ '100% Python' }}</h5>
                        <mark>{{
                            'Completely relies on Python! Easy to read, easy to understand, easy to code.'
                        }}</mark>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="extras">
        <div class="content">
            <div class="row">
                <div class="section_title">
                    <h3>Getting started</h3>
                </div>
            </div>

            <div class="row">

                <div class="column_1">
                    <a class="card" href="https://discord.gg/koishi">
                        <div class="icon">
                            <img src="/static/discord.svg">
                        </div>
                        <div class="text">
                            <h5> Support server </h5>
                            <mark> {{
                                'If you have issues, suggestions, want to contribute, or just want to hang out, '
                                'join our discord server.'
                            }} </mark>
                        </div>
                    </a>
                </div>
                <div class="column_2">
                    <a class="card" href="/guides">
                        <div class="icon">
                            <img src="/static/notes.svg">
                        </div>
                        <div class="text">
                            <h5> Guides </h5>
                            <mark> {{
                                'First time creating a Discord bot, or want to get proficient with the library.'
                            }} </mark>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <ul>
            <li>{{ '© 2022, HuyaneMatsu' }}</li>
            <li>{{ 'Banner by Ashy yup' }}</li>
        </ul>
    </footer>
</body>
</html>
