<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    {% include 'hata_meta_generic.html' %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_guides_20220202.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_shared_20221230.css') }}">

    <!-- JS -->
    {% include 'hata_header_theme_picker_js.html' %}
</head>
<body>
    <nav class="header_menu">
        <div class="header_left">
            <a href='./../'>
                Hata
            </a>
            <a href='#' class="selected">
                Guides
            </a>
            <a href='/#'>
                Documentation
            </a>
            {% include 'hata_header_github_button.html' %}
        </div>
        <div class="header_right">
            {% include 'hata_header_theme_picker.html' %}
        </div>
    </nav>
    <div class="section">
        {% block body %}{% endblock %}
    </div>
</body>
