<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>{{ title }}</title>

    <!-- Required meta tags -->
    {% include 'hata_meta_generic.html' %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_shared_20220305.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_guides_20220305.css') }}">

    <!-- JS -->
    {% include 'hata_header_js.html' %}
</head>
<body>
    <nav class="header_menu">
        <div class="header_left">
            <a href="./../">
                Hata
            </a>

            {% block header_self_link %}{% endblock %}

            <a href='/project/hata/docs/hata'>
                Documentation
            </a>
            {% include 'hata_header_github_button.html' %}

            {% block header_path %}{% endblock %}

        </div>
        <div class="header_right">
            {% include 'hata_header_theme_picker.html' %}
        </div>
    </nav>

    <div class="background"></div>

    <section class="main_block">
        {% block body %}{% endblock %}
    </section>
</body>
