<meta charset="utf-8">
<meta name="viewport" content="width=device-width,initial-scale=1">

<meta property="og:site_name" content="atil.dev">
<meta property="og:type" content="website">
<meta property="og:title" content="Hata">
<meta property="og:url" content="https://astil.dev/project/hata">
<meta property="og:description" content="{{ 'Hata is an asynchronous Discord API wrapper built on top of scarletio. It is designed to be easy to use, with also providing rich API offering everything what an advanced developer might need.\n\nNamed after Hata no Kokoro from Touhou Project.' }}">
<meta property="og:image" content="https://astil.dev/static/hata_meta_image_opt.jpg">
<meta property="og:site_name" content="GitHub">
