{% extends 'hata_guides_layout.html' %}

{% block header_self_link %}
<a href="#" class="selected">
    Guides
</a>
{% endblock header_self_link %}


{% block header_path %}
{% endblock header_path %}


{% block body %}

<h1 class="underline">{{ 'Getting started' }}</h1>
<mark>
    {{ 'First time creating a Discord bot or using the library?' }}
</mark>
<ul>
    <li>
        <a href="./getting_started">
            {{ 'First time creating a Discord bot.' }}
        </a>
    </li>
    <li>
        <a href="./introduction_to_python">
            {{ 'Brief introduction to python.' }}
        </a>
    </li>
    <li>
        <a href="./first_bot">
            {{ 'Coding your first bot with hata.' }}
        </a>
    </li>
    <li>
        <a href="https://github.com/HuyaneMatsu/hata/tree/master/docs/examples">
            {{ 'Examples can be found in our repository.' }}
        </a>
    </li>
</ul>

<h1 class="underline">{{ 'Getting help' }}</h1>
<mark>
    {{ 'Need some help in troubleshooting? These resources might help.' }}
</mark>
<ul>
    <li>
        <a href="./frequently_asked_questions">
            {{ 'Frequently asked questions.' }}
        </a>
    </li>
    <li>
        <a href="https://discord.gg/3cH2r5d">
            {{ 'Ask us in our cosy Discord server.' }}
        </a>
    </li>
    <li>
        <a href="https://github.com/HuyaneMatsu/hata/issues">
            {{ 'Report a bug at our Issue tracker.' }}
        </a>
    </li>
    <li>
        <a href="https://github.com/HuyaneMatsu/hata/discussions">
            {{ 'Ask in our Github discussion page.' }}
        </a>
    </li>
</ul>

<h1 class="underline">{{ 'Interactions' }}</h1>
<mark>
    {{ 'Creating slash commands and working with components!' }}
</mark>
<ul>
    <li>
        <a href="./slash">
            {{ 'Creating slash and context commands and auto completing parameters.' }}
        </a>
    </li>
    <li>
        <a href="./components">
            {{ 'Defining for component interactions and waiting for them.' }}
        </a>
    </li>
    <li>
        <a href="./forms">
            {{ 'Building forms and receiving them.' }}
        </a>
    </li>
</ul>


<h1 class="underline">{{ 'Other Topics' }}</h1>
<mark>
    {{ 'Creating slash commands and working with components!' }}
</mark>
<ul>
    <li>
        <a href="./emoji">
            {{ 'Everything you might want to know about hata emojis.' }}
        </a>
    </li>
    <li>
        <a href="./commands_v2">
            {{ 'Creating chat input based commands.' }}
        </a>
    </li>
    <li>
        <a href="./top_gg">
            {{ 'Communicating with Discord Bot and Server discovery site Top.gg.' }}
        </a>
    </li>
    <li>
        <a href="./3rd_party_voice_clients">
            {{ 'Implementing your own 3rd party voice library.' }}
        </a>
    </li>
</ul>

<mark class="footnote">
    <a href="https://github.com/HuyaneMatsu/hata/tree/master/docs/topics">
        {{ 'Want to contribute new topics, or help improving them? Go to our github page!' }}
    </a>
</mark>

{% endblock body %}
