<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_shared_20220304.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='hata_docs_20220304.css') }}">

    <!-- JS -->
    {% include "hata_header_js.html" %}
    {% block head_extra %}{% endblock %}

    <title>Hata Docs{% if (title is not none and title) %} - {{title}}{% endif %}</title>
</head>
<body>
    <nav class="header_menu with_search">
        <div class="header_left">
            <details class="burger_1200" id="header_left_burger">
                <summary>
                    <img src="/static/hamburger.svg">
                </summary>
                <details-menu>
                    <a href="/project/hata">
                        Hata
                    </a>

                    <a href="/project/hata/guides/">
                        Guides
                    </a>

                    <a href="/project/hata/docs/hata" class="selected">
                        Documentation
                    </a>

                    {% include 'hata_header_github_button.html' %}
                </details-menu>
            </details>

            <div class="burgerable_1200">
                <a href="/project/hata">
                    Hata
                </a>

                <a href="/project/hata/guides/">
                    Guides
                </a>

                <a href="/project/hata/docs/hata" class="selected">
                    Documentation
                </a>

                {% include 'hata_header_github_button.html' %}
            </div>

            {% block header_path %}{% endblock %}

        </div>
        <div class="header_right">
            <form class="header_search" method="POST" action="{{ url_for('docs.search') }}">
                {{ search_form.hidden_tag() }}
                <img src="/static/search.svg">
                {{ search_form.query }}
                <div class="submit">
                    <img src="/static/arrow_left_to_right.svg">
                    {{ search_form.submit }}
                </div>
            </form>

            {% include 'hata_header_theme_picker.html' %}
        </div>
    </nav>

    <div class="background"></div>

    <section class="main_block">
        {% block body %}{% endblock %}
    </section>

</body>
</html>
