<script type="module">
    var theme = localStorage.getItem('theme');
    if (theme != null){
        document.documentElement.setAttribute('variable-theme', theme);
    }
</script>
<script>
    function set_theme(theme_value) {
        localStorage.setItem('theme', theme_value);
        document.documentElement.setAttribute('variable-theme', theme_value);
    }

    function set_theme_if_keyboard_clicked(event, theme_value) {
        var key_code = event.keyCode;
        if ((key_code === 13) || (key_code === 32)) {
            set_theme(theme_value);
        }
    }

    function turn_off_details(event) {
        var tag_name = event.target.tagName
        if ((tag_name == 'SUMMARY') || (tag_name == 'IMG')) {
            return;
        }

        var element

        element = document.getElementById('header_theme_list_spacer');
        if (element.open){
            element.open = false;
        }
     
        element = document.getElementById('header_left_burger');
        if (element.open){
            element.open = false;
        }
       
    }

    document.onclick = turn_off_details;
</script>
