<details class="header_theme_picker" id="header_theme_list_spacer">
    <summary>
        Themes
    </summary>
    <details-menu>
        <a
            tabindex="0"
            onclick="set_theme('black')"
            onkeypress="set_theme_if_keyboard_clicked(event, 'black')"
        >
            Black
        </a>
        <a
            tabindex="0"
            onclick="set_theme('dark')"
            onkeypress="set_theme_if_keyboard_clicked(event, 'dark')"
        >
            Dark
        </a>
        <a
            tabindex="0"
            onclick="set_theme('white')"
            onkeypress="set_theme_if_keyboard_clicked(event, 'white')"
        >
            White
        </a>
    </details-menu>
</details>
