<!DOCTYPE html>
<html>
<head>
    <!-- Title -->
    <title>Hata</title>

    <!-- Required meta tags -->
    {% include 'hata_meta_generic.html' %}

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/core_shared_20250225.css">
    <link rel="stylesheet" type="text/css" href="/assets/hata_index_20220411.css">

    <!-- JS -->
    {% include 'hata_header_js.html' %}
</head>
<body>
    <nav class="header_menu">
        <div class="header_left">
            <a href="#" class="selected">
                Hata
            </a>
            <a href="./guides">
                Guides
            </a>
            <a href="./docs/hata">
                Documentation
            </a>
            {% include 'hata_header_github_button.html' %}
        </div>
        <div class="header_right">
            {% include 'hata_header_theme_picker.html' %}
        </div>
    </nav>
    <section class="banner">
        <div class="banner_background"></div>
        <div class="banner_box">
            <p class="title">
                Hata
            </p>
            <div class="underline"></div>
            <p class="description">
                {{ 'A blazing fast wrapper that you can\'t deny' }}
            </p>
        </div>
    </section>
    <section class="feature_list">
        <div class="content">
            <div class="column_1">
                <h1> What is hata </h1>
                <mark>{{
                    'Hata is an async Discord API wrapper written in Python named after Hata no Kokoro running '
                    'on top of scarletio.'
                }}</mark>

                <h3> Features </h3>

                <ul>
                    <li>{{ 'Asynchronous using async / await syntax' }}</li>
                    <li>{{ 'Feature rich API' }}</li>
                    <li>{{ 'Object oriented design' }}</li>
                    <li>{{ 'Automatic sharding' }}</li>
                </ul>
            </div>
            <div class="column_2">

                <div class="item">
                    <div class="icon">
                        <img src="/assets/gear.svg">
                    </div>
                    <div class="text">
                        <h3>{{ 'Multiple simultaneous clients' }}</h3>
                        <mark>{{
                            'Hata can run multiple clients from the same instance without sacrificing performance'
                        }}</mark>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="/assets/lighting.svg">
                    </div>
                    <div class="text">
                        <h3>{{ 'Performant' }}</h3>
                        <mark>{{
                            'Fast concurrent code using async/await syntax, cache control and PyPy support for '
                            'maximal performance.'
                        }}</mark>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="/assets/clock.svg">
                    </div>
                    <div class="text">
                        <h3>{{ 'Newest API features' }}</h3>
                        <mark>{{
                            'New Discord features are cool, but people using them are cooler. Whenever Discord '
                            'releases a new feature Hata will support it natively in no time!'
                        }}</mark>
                    </div>
                </div>

                <div class="item">
                    <div class="icon">
                        <img src="/assets/code.svg">
                    </div>
                    <div class="text">
                        <h3>{{ '100% Python' }}</h3>
                        <mark>{{
                            'Completely relies on Python! Easy to read, easy to understand, easy to code.'
                        }}</mark>
                    </div>
                </div>

            </div>
        </div>
    </section>
    <section class="extras">
        <div class="content">
            <div class="row">
                <div class="section_title">
                    <h1>Getting started</h1>
                </div>
            </div>

            <div class="row">

                <div class="column_1">
                    <a class="card" href="https://discord.gg/koishi">
                        <div class="icon">
                            <img src="/assets/discord.svg">
                        </div>
                        <div class="text">
                            <h3> Support guild </h3>
                            <mark>{{
                                'If you have issues, suggestions, want to contribute, or just want to hang out, '
                                'join our discord guild.'
                            }}</mark>
                        </div>
                    </a>
                </div>
                <div class="column_2">
                    <a class="card" href="./guides">
                        <div class="icon">
                            <img src="/assets/notes.svg">
                        </div>
                        <div class="text">
                            <h3> Guides </h3>
                            <mark>{{
                                'First time creating a Discord bot, or want to get proficient with the library.'
                            }}</mark>
                        </div>
                    </a>
                </div>

            </div>
        </div>
    </section>
    <footer>
        <ul>
            <li>{{ '© 2022, HuyaneMatsu' }}</li>
            <li>{{ 'Banner by Ashy yup' }}</li>
        </ul>
    </footer>
</body>
</html>
